<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<title>Welcome to Cadnaukri</title>
<link rel="shortcut icon" href="images/favicon.ico" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link type="text/css" href="css/styles.css" rel="stylesheet" />
<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/layout.css" />
    <link rel="stylesheet" href="css/fontello.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/jquery.bxslider.css" />
    <link rel="stylesheet" type="text/css" href="css/easy-responsive-tabs.css " />
    <link type="text/css" href="css/menu-css.css" rel="stylesheet" />
    
   <link rel="stylesheet" href="css/gridslider.css" />

<script type="text/javascript" src="js/jquery.modernizr.js"></script> 


</head>

<body>

<div id="header" class="transparent">
		<div class="top-header">
			<div class="container">
    		
                <div class="row">
                    <div class="col-xs-6">
                        <div id="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></div>   
                    </div>
                    <div class="col-xs-6 right ">
                    	<div class="top-data-inner">
                        	<div class="job-button blue-bg">
                            	<div class="job-button-inner">
                                <a href="#">
                                <span>Register For</span>Dream Jobs
                                </a>
                                </div>
                            </div>
                            <div class="job-button orange-bg">
                            	<div class="job-button-inner">
                                <a href="#">
                                <span>Unlimited</span>Job Posting
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>  
         <div class="bottom-header"> 
         	<div class="bottom-header"> 
            	<div class="container"> 
                	<div class="row">
                    	<div class="col-xs-8 menu-cont">
                        	<div class="nav-bg">        
        	<nav>            
            <div class="menu-btn"><img src="images/btn-hamburger.png" alt=""> Menu</div>
             <ul class="menu">
              <li><a href="#">Top Design Jobs                                                                </a></li>
              <li><a href="#">Hire Certified</a>
               <ul>
                <li><a href="#">Menu1</a>
                 <ul>
                  <li><a href="#">Menu11</a></li>
                  <li><a href="#">Menu12</a></li>
                 </ul>
                </li>
                <li><a href="#">Menu2</a></li>
               </ul>
              </li>
              <li><a href="#">Overseas Jobs</a></li>
              <li><a href="#">Recruit with us</a></li>
              <li><a href="#">Internship</a></li>              
             </ul>
             
             <div class="clear"></div>
 			</nav>
            
 		</div>
                        </div>
                        <div class="col-xs-4 number-cont">
                        	<div class="pn-cont">Toll Free: 180 0540545</div>
                        </div>
                    </div>
         		</div>
         	</div>
         </div>
        
    
    	 
        
		
	</div>
    <!--/ .header-in-->
    <div class="main-container">
    	<div class="banner">
        	<div class="container">
            	<div class="row">
                	<div class="col-xs-9 banner-tab">
                    	<div class="banner-tab-content">
                            <div id="parentHorizontalTab">
                                <ul class="resp-tabs-list hor_1">
                                <li>All Design Jobs</li>
                                <li>CAD Jobs</li>
                                <li>CAE Jobs</li>
                                <li>CFD Jobs</li>
                                <li>PLM Jobs</li>
                                <li>BIM Jobs</li>
                                <li>CAD Sales Jobs</li>
                                <li>CAD Software Dev. Jobs</li>
                                </ul>
                                <div class="resp-tabs-container hor_1">
                                    <div>
                                    
                                        <div class="design-form">
                                            <h3>Look for opportunities that suit your talent !</h3>
                                            <div class="design-form-inner">
                                            	<form>
                                                	<input type="text" placeholder="Skill" >
                                                    <select>
                                                    	<option>Job Title</option>
                                                        <option>Job1</option>
                                                        <option>Job2</option>
                                                        <option>Job3</option>
                                                    </select>
                                                    <select>
                                                    	<option>Job Title</option>
                                                        <option>Job1</option>
                                                        <option>Job2</option>
                                                        <option>Job3</option>
                                                    </select>
                                                    <input type="button " value="search" class="button blue-button">
                                                </form>
                                            </div>
                                            <p class="right"><a href="#" >Advance Search</a></p>
                                        </div>
                                                                
                                    </div>
                                    <div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                    
                                    </div>
                                    <div>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.
                                    
                                    </div>
                                </div>
                            </div>
                		</div>
                	</div>
                    <div class="col-xs-3 banner-slide">
                    	<div class="banner-slide-content">
                    		<div id="flip-tabs" class="example" >
    <form action="" method="get">
		<div id="flip-navigation" >
			<div class="selected"><input name="radio" type="radio" value="on" id="tab-0" /><label for="tab-0">Experienced Candidates</label></div>
			<div><input name="radio" type="radio" value="tw" id="tab-1" /><label for="tab-1">Student Interns</label></div>
			
		</div>
     </form>
		<div id="flip-container" >
			<div class="flip-container-inner" >
				<ul >
					<li>
                    	<a href="#">
                    	<div class="sign-icon-img"><img src="images/signup-icon.png" alt="" /></div>
                        <div class="sign-icon-name">Sign Up</div>
                        </a>
                    </li>
					<li>
                    <a href="#">
                        
                    	<div class="sign-icon-img"><img src="images/signin-icon.png" alt="" /></div>
                        <div class="sign-icon-name">Sign In</div>
                        
                        </a>
                        </li>					
				</ul>
			</div>
			<div class="flip-container-inner" >
				<ul >
					<li>
                    	<a href="#">
                         
                    	<div class="sign-icon-img"><img src="images/signup-icon.png" alt="" /></div>
                        <div class="sign-icon-name">Sign Up</div>
                        
                        </a>
                    </li>
					<li>
                   
                    	<a href="#">
                        
                    	<div class="sign-icon-img"><img src="images/signin-icon.png" alt="" /></div>
                        <div class="sign-icon-name">Sign In</div>
                        
                        </a>
                        
                        </li>					
				</ul>
			</div>
			
		</div>
	</div>
    <div class="tab-button"><a href="#" class="button">Access Employer Zone</a></div>
                		</div>
                	</div>
                </div>
            </div>
        </div>
        <section class="light-grey">
        	<section class="section ">
            	<div class="container">
                	<div class="container-inner">
                    	<h2 class="center heading-title"><span>Companies For Better Opportunities</span></h2>
                        <div class="image-feed-slider">	
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo01.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo02.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo03.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo04.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo05.jpg" title="" /></a>
                            <a href="#"><img src="images/logo/logo06.jpg" title="" /></a>
                            
                            
                            
                        </div>
                    	
                    </div>
                </div>
            </section>
        </section>
        <section class="deep-grey">
        	<section class="section parallex1">
        		<div class="container">
                	<div class="container-inner line-sepa-top ">
                    	<div class="stey-3col">
                        	<div class="row">
                            	<div class="col-xs-3 sponsored-div">
                                	<div class="sponsored-content">
                                    	<h5>Sponsored Advertisements</h5>
                                    	<ul class="small-logo">
                                        	<li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo01.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo02.jpg" alt="" /></a></li>
                                            <li><a href="#"><img src="images/s-logo/s-logo03.jpg" alt="" /></a></li>
                                        </ul>
                                	</div>
                                </div>
                                <div class="col-xs-6 subscribe-div">
                                	<div class="subscribe-content">
                                    	<h4>Subscribe Now to avail of latest </h4>
                                    	<form>
                                        	<input type="text" placeholder="Your name" />
                                            <input type="text" placeholder="Your email id" />
                                            <input type="submit" class="button" value="Subscribe">
                                        </form>
                                	</div>
                                    <div class="stey-connected">
                                    	<h2>Stay Connected</h2>
                                        <ul class="social-icon">
                                        	<li><a href="#"><img src="images/sfb-icon.png" alt="" /></a></li>
                                            <li><a href="#"><img src="images/stw-icon.png" alt="" /></a></li>
                                            <li><a href="#"><img src="images/sgp-icon.png" alt="" /></a></li>
                                            <li><a href="#"><img src="images/sin-icon.png" alt="" /></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-3 side-link-div">
                                	<div class="extra-content">
                                    	<ul>
                                        	<li>
                                                <ul>
                                                	<li><a href="#"><span><img src="images/job-icon.png" alt=""></span>Job Offers</a></li>
                                                    <li><a href="#"><span><img src="images/intership-icon.png" alt=""></span>Internships</a></li>
                                                    <li><a href="#"><span><img src="images/product-update-icon.png" alt=""></span>Product Updates</a></li>
                                                    <li><a href="#"><span><img src="images/news-icon.png" alt=""></span>News &amp; Events</a></li>
                                                    <li><a href="#" class="orange-bgcol"><span><img src="images/cad-icon.png" alt=""></span>CAD CAM Schools</a></li>
                                                    <li>
                                                    	<div class="logo-box">
                                                        	<ul>
                                                            	<li><a href="#"><img src="images/s-logo/softed-world.jpg" alt="" /></a></li>
                                                                <li><a href="#"><img src="images/s-logo/cad-academy.jpg" alt="" /></a></li>
                                                                <li><a href="#"><img src="images/s-logo/cadd-center.jpg" alt="" /></a></li>
                                                            </ul>
                                                            <a href="#" class="blue-button">See More</a>
                                                        </div>
                                                    </li>
                                                    <li><a href="#" class="orange-bgcol"><span><img src="images/best-icon.png" alt=""></span>Centre of Excellences</a></li>
                                                    <li>
                                                    	<div class="logo-box">
                                                        	<ul>
                                                            	<li><a href="#"><img src="images/s-logo/softed-world.jpg" alt="" /></a></li>
                                                                <li><a href="#"><img src="images/s-logo/cad-academy.jpg" alt="" /></a></li>
                                                                <li><a href="#"><img src="images/s-logo/cadd-center.jpg" alt="" /></a></li>
                                                            </ul>
                                                            <a href="#" class="blue-button">See More</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                	</div>
                                </div>
                            </div>
                        </div>
                        <div class="latest-news">
                        	<h2 class="title"><span></span>Latest News Updates</h2>
                            <div class="latest-news-content">
                            	<ul class="bxslider">
                                	<li>
                                    	<h3>News Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum...</p>
                                        <a href="#" class="readmore">Read More</a>
                                    </li>
                                    <li>
                                    	<h3>News Title</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum...</p>
                                        <a href="#" class="readmore">Read More</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="career-boxse">
                        	<div class="row">
                            	<div class="col-xs-4">
                                	<div class="career-box-inner">
                                    	<h4>Career Stories</h4>
                                        <div class="career-content-box career-img">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                        <a href="#" class="readmore">Read More</a></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                	<div class="career-box-inner">
                                    	<h4>eLearning</h4>
                                        <div class="career-content-box learn-img">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                        <a href="#" class="readmore">Read More</a></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                	<div class="career-box-inner">
                                    	<h4>Resume Writing</h4>
                                        <div class="career-content-box writer-img">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                                        <a href="#" class="readmore">Read More</a></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        	</section>
        </section>
        <section class="wht-bg">
        	<section class="section">
            	<div class="container">
					<div class="container-inner line-sepa-bottom">
                    	<div class="job-details">
                        	<div class="row">
                            	<div class="col-xs-4">
                                	<div class="job-inner-details">
                                    	<p>Last Job Posted</p>
                                        <h2>20th June</h2>
                        			</div>
                        		</div>
                                <div class="col-xs-4">
                                	<div class="job-inner-details">
                                    	<p>Recruiters Registered Today</p>
                                        <h2>360</h2>
                        			</div>
                        		</div>
                                <div class="col-xs-4">
                                	<div class="job-inner-details">
                                    	<p>Candidates Joined Today</p>
                                        <h2>9864</h2>
                        			</div>
                        		</div>
                        	</div>
                        </div>
                        <div class="job-container">
                        	<h2 class="title"><span></span>Featured Jobs</h2>
                            <div class="job-list">
                            	<ul>
                                	<li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="job-list-inner">
                                        	<div class="job-list-title">
                                            	<h5>Manager- International Institutional Sales</h5>
                                                <p>Job Category Name | <a href="">Share</a> </p>
                                                <a href="#" class="button">Apply</a>
                                            </div>
                                            <div class="job-post-details">
                                            	<ul>
                                                	<li><a href="#"><span><img src="images/post-time-icon.png" alt="" /></span> 2 to 4 Yrs</a></li>
                                                    <li><a href="#"><span><img src="images/post-location.png" alt="" /></span> Hyderabad</a></li>
                                                    <li><a href="#"><span></span> Posted Date 31-Aug-2015</a></li>
                                                </ul>
                                            </div>
                                            <div class="job-content-details">
                                            	<p>Be completely responsible for achieving market share in the assigned territories -Develop innovative modes to identify relevant prospects and connect with them to close a deal -Meet </p>
                                                <div class="job-link"><a href="#">Skills : B2B</a>  |  <a href="#">Concept</a>  |  <a href="#">Institutional</a>  |  <a href="#">International</a>  |  <a href="#">Sales</a></div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
               </div>
            
            </section>
        </section>
        <section class="blue-bg">
        	<section class="section parallex2">
            	<div class="container">
                    <div class="container-inner">
                    	<div class="blue-category">
                        	<div class="row">
                            	<div class="col-xs-3">
                            		<div class="blue-category-inner">
                            			<h5>Information</h5>
                                        <ul>
                                        	<li><a href="#">About Us</a></li>
                                            <li><a href="#">Terms &amp; Conditions</a></li>
                                            <li><a href="#">Privacy Policy</a></li>
                                            <li><a href="#">Resources</a></li>
                                            <li><a href="#">Careers with Us</a></li>
                                            <li><a href="#">Sitemap</a></li>
                                            <li><a href="#">Contact Us</a></li>
                                            <li><a href="#">FAQs</a></li>
                                            <li><a href="#">Summons / Notices</a></li>
                                            <li><a href="#">Grievances</a></li>
                                            <li><a href="#">Fraud Alert</a></li>
                                        </ul>
                            		</div>
                            	</div>
                                <div class="col-xs-3">
                            		<div class="blue-category-inner">
                            			<h5>Jobseekers</h5>
                                        <ul>
                                        	<li><a href="#">Register Now</a></li>
                                            <li><a href="#">Search Jobs</a></li>
                                            <li><a href="#">Login</a></li>
                                            <li><a href="#">Create Job Alert</a></li>
                                            <li><a href="#">Report a Problem</a></li>
                                            <li><a href="#">Blogs</a></li>
                                            <li><a href="#">Security Advice</a></li>
                                            <li><a href="#">Mobile Site</a></li>
                                            
                                        </ul>
                                        <h5>Fast Forward</h5>
                                        <ul>
                                            <li><a href="#">Resume Writing</a></li>
                                            <li><a href="#">Profile Enhancement</a></li>
                                            <li><a href="#">Recruiter Reach</a></li>
                                            <li><a href="#">Jobs For You</a></li>                                            
                                            
                                        </ul>
                            		</div>
                            	</div>
                                <div class="col-xs-3">
                            		<div class="blue-category-inner">
                            			<h5>Browse Jobs</h5>
                                        <ul>
                                            <li><a href="#">Browse All Jobs</a></li>
                                            <li><a href="#">Premium MBA Jobs</a></li>
                                            <li><a href="#">Premium Engineering Jobs</a></li>
                                            <li><a href="#">Govt. Jobs</a></li>
                                            <li><a href="#">International Jobs</a></li>
                                            <li><a href="#">Jobs by Company</a></li>
                                            <li><a href="#">Jobs by Category</a></li>
                                            <li><a href="#">Jobs by Designation</a></li>
                                            <li><a href="#">Jobs by Location</a></li>
                                            <li><a href="#">Jobs by Skill</a></li>                                            
                                        </ul>
                            		</div>
                            	</div>
                                <div class="col-xs-3">
                            		<div class="blue-category-inner">
                            			<h5>Employers</h5>
                                        <ul>
                                            <li><a href="#">Post Jobs</a></li>
                                            <li><a href="#">Access Database</a></li>
                                            <li><a href="#">Manage Responses</a></li>
                                            <li><a href="#">Buy Online</a></li>
                                            <li><a href="#">Report a Problem</a></li>
                                            <li><a href="#">Recruiters from USA, call</a></li>
                                            <li>Toll Free # 1866-557-3340</li>                                            
                                        </ul>
                            		</div>
                            	</div>
                            </div>
                        </div>
                    </div>
                </div>
        	</section>
        </section>
        
    </div>
    
<footer>
	<section class="light-grey">
        	<section class="section ">
            	<div class="container">
                	<div class="container-inner">
                    	<div class="testimonials-div">
                    		<h4>REAL PEOPLE - REAL STORIES - REAL LIFE EXPERIENCE</h4>
                          <div class="testimonials-content">
                          	
                          	<ul class="testimonials">
                                	<li>
                                    	<div class="testmonial-slide">
                                        	<div class="row">
                                            	<div class="col-xs-2">
                                                	<div class="testimonial-head"><img src="images/testimonial-head.png" alt="" /></div>
                                                </div>
                                                <div class="col-xs-10">
                                                	<div class="testimonial-inn">
                                                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia blandit justo, vel varius augue efficitur eu. Phasellus ultricies interdum nibh, ut blandit velit tempus at. Mauris massa nunc, efficitur quis vestibulum sit amet, accumsan non dui. Etiam tempor a ante et tincidunt. Aenean eleifend tristique tortor,</p>
                                                        <p class="tesimonial-name">Customer Name</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                    	<div class="testmonial-slide">
                                        	<div class="row">
                                            	<div class="col-xs-2">
                                                	<div class="testimonial-head"><img src="images/testimonial-head.png" alt="" /></div>
                                                </div>
                                                <div class="col-xs-10">
                                                	<div class="testimonial-inn">
                                                    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia blandit justo, vel varius augue efficitur eu. Phasellus ultricies interdum nibh, ut blandit velit tempus at. Mauris massa nunc, efficitur quis vestibulum sit amet, accumsan non dui. Etiam tempor a ante et tincidunt. Aenean eleifend tristique tortor,</p>
                                                        <p class="tesimonial-name">Customer Name</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                          </div>  
                          </div>
                          <div class="newsletter-div">
                          	<div class="row">
                            	<div class="col-xs-9 newsletter-left">
                                	<div class="footer-newsletter">
                                    	<form>
                                        	<p>Subscribe to Newsletter</p>
                                            <input type="text" placeholder="Your email id" class="newsletter-input" / >
                                            <input type="text" placeholder="Password" class="newsletter-input" / >
                                            <input type="submit" class="button" value="Subscribe" >
                                        </form>
                            		</div>
                            	</div>
                                <div class="col-xs-3 side-link-div">
                                	<div class="extra-content">
                                    	<ul>
                                        	<li>
                                                <ul> 
                                                    <li><a class="orange-bgcol" href="#"><span><img alt="" src="images/cad-icon.png"></span>CAD CAM Schools</a></li>
                                                    <li><a class="orange-bgcol" href="#"><span><img alt="" src="images/best-icon.png"></span>Centre of Excellences</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                	</div>
                                </div>
                            </div>
                          </div>
                    </div>
                </div>
            </section>
        </section>
        <section class="wht-bg footer-last">
        	<section class="section">
            	<div class="container">
                	<div class="container-inner">
                    &copy; 2015 cadnaukri.com, All rights reserved.   <a href="#">Disclaimer</a>  |  <a href="#">Privacy Policy</a> 
                    <span class="social-div">
                    	<a href="#"><img src="images/fb-icon.png" alt="" /></a>
                        <a href="#"><img src="images/gp-icon.png" alt="" /></a>
                        <a href="#"><img src="images/tw-icon.png" alt="" /></a>
                        <a href="#"><img src="images/yt-icon.png" alt="" /></a>
                    </span>
                    </div>
                </div>            
            </section>
        </section>
</footer>    
    





	




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="js/jquery.bxslider.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $('.bxslider').bxSlider({
		auto: true,
		randomStart: true,
		infiniteLoop: true,
		  mode: 'horizontal',
		  captions: true,
		  controls: false,
		  pager: true
		  
	});	
	$('.testimonials').bxSlider({
		auto: true,
		randomStart: true,
		infiniteLoop: true,
		  mode: 'horizontal',
		  captions: true,
		  controls: false,
		  pager: true
		  
	});	
});
</script>
<script type="text/javascript">
 $(document).ready(function(){
 $(".menu li a").each(function() {
  if ($(this).next().length > 0) {
   $(this).addClass("parent");
  };
 })
 var menux = $('.menu li a.parent');
 $( '<div class="more"><img src="images/btn-hamburger.png" alt=""></div>' ).insertBefore(menux);
 $('.more').click(function(){
   $(this).parent('li').toggleClass('open');
 });
 $('.menu-btn').click(function(){
   $('nav').toggleClass('menu-open');
 });
 });
</script>



<script src="js/easyResponsiveTabs.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        //Horizontal Tab
        $('#parentHorizontalTab').easyResponsiveTabs({
            type: 'default', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });

        // Child Tab
        $('#ChildVerticalTab_1').easyResponsiveTabs({
            type: 'vertical',
            width: 'auto',
            fit: true,
            tabidentify: 'ver_1', // The tab groups identifier
            activetab_bg: '#fff', // background color for active tabs in this group
            inactive_bg: '#F5F5F5', // background color for inactive tabs in this group
            active_border_color: '#c1c1c1', // border color for active tabs heads in this group
            active_content_border_color: '#5AB1D0' // border color for active tabs contect in this group so that it matches the tab head border
        });

        //Vertical Tab
        $('#parentVerticalTab').easyResponsiveTabs({
            type: 'vertical', //Types: default, vertical, accordion
            width: 'auto', //auto or any width like 600px
            fit: true, // 100% fit in a container
            closed: 'accordion', // Start closed if in accordion view
            tabidentify: 'hor_1', // The tab groups identifier
            activate: function(event) { // Callback function if tab is switched
                var $tab = $(this);
                var $info = $('#nested-tabInfo2');
                var $name = $('span', $info);
                $name.text($tab.text());
                $info.show();
            }
        });
    });
</script>
<script src="js/gridslider.js"></script>
<script type="text/javascript">
$(function ()
{
	$('.image-feed-slider').gridSlider({
		cols: 6, //Column count. Degrades on smaller screens. Degradation steps can be easily adjusted in css.
		rows: 3, //Row count. Applies to sliders only.
		image_stretch_mode: 'x', //Image stretch mode. Auto does not affect images. Other types are especially handy for image galleries.
		grid_height: 60, //Constrain forces sqare cells, numeric value forces fixed height. Especially handy for media galleries.
		align: 'center', //Target element alignment
		width: '100%', //Target element width
		ctrl_pag: false, //Display pagination
		autoplay_enable: true, //Autoplay
		autoplay_interval: 3 //Autoplay interval in seconds
	});
});
</script>



<script type="text/javascript" src="js/jquery.quickflip.js" ></script>
<script type="text/javascript" >
	$('document').ready(function(){
		$('#flip-container').quickFlip();
		
		$('#flip-navigation div input:radio[name="radio"]').each(function(){
			$(this).change(function(){
				$('#flip-navigation div').each(function(){
					$(this).removeClass('selected');
				});
				$(this).parent().addClass('selected');
				var flipid=$(this).attr('id').substr(4);
				$('#flip-container').quickFlipper({ }, flipid, 1);
				
				return false;
			});
		});
	});
</script>





</body>
</html>
